<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="${title!=null}?${title}:'Projetos'" ></title>
  <!-- CSS only -->
  <link  rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="header">

</div>
<th:block th:fragment="breadcumb">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <!--/*@thymesVar id="breadlist" type="java.util.List<example.filexplorer.dto.BreadDto>"*/-->
      <th:block th:each="bread  : ${breadlist}" >
        <li class="breadcrumb-item" th:attrappend="aria-current=${bread.active}? 'page' : ''" th:classappend="${bread.active}? 'active' : ''"><a th:text="${bread.name}" th:href="${bread.link}"></a></li>
      </th:block>
    </ol>
  </nav>
</th:block>
<th:block th:fragment="scripts">
  <script src="/js/bootstrap.bundle.min.js"></script>
</th:block>
</body>
</html>